<!-- app/views/task_mailer_mailer/status_toggle_sent_to_user_email.html.erb -->

<h1>Task Status Changed</h1>
<p>Hello,</p>
<p>The status of your task "<%= @task.title %>" has been changed to <%= @task.completed ? 'completed' : 'not completed' %>.</p>
<p>Thank you!</p>
